// this is where the styles I add for the obundle test features
.button-group {
	display: flex;
	justify-content: center;
	align-items: center;
}

#rmvBtn {
	background-color: darkred;
	color: whitesmoke;
	display: none;
}

.cart-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.notification {
	color: green;
}

.add-notification {
	display: none;
}

.delete-notification {
	display: none;
}
